<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myMessage" class="pl.sda.Message">
        <property name="text" value="To mój pierwszy program spring" />
    </bean>

    <bean id="myExtraMessage1" class="pl.sda.ExtraMessage" scope="singleton"
            init-method="init" destroy-method="destroy">
        <property name="text" value="To mój drugi program spring" />
    </bean>

    <bean id="myExtraMessage2" class="pl.sda.ExtraMessage" scope="prototype">
        <property name="text" value="To mój drugi program spring" />
    </bean>

    <context:annotation-config />
</beans>