<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="myMessage" class="pl.sda.Message">
        <property name="text" value="To mój pierwszy program spring" />
    </bean>

    <bean id="myExtraMessage1" class="pl.sda.ExtraMessage" scope="singleton"
            init-method="init" destroy-method="destroy">
        <property name="text" value="To mój drugi program spring" />
    </bean>

    <bean id="myExtraMessage2" class="pl.sda.ExtraMessage" scope="prototype">
        <property name="text" value="To mój drugi program spring" />
    </bean>

    <bean id="myBook" class="pl.sda.Book">
        <property name="name" value="Harry Potter" />
        <property name="author" ref="myAuthor" />
    </bean>

    <bean id="myAuthor" class="pl.sda.Author" >
        <property name="firstName" value="Marcin" />
        <property name="lastName" value="Kowalski" />
    </bean>

    <bean id="myBook2" class="pl.sda.Book">
        <property name="name" value="Harry Potter" />
        <property name="author">
            <bean id="myAuthor2" class="pl.sda.Author" >
                <property name="firstName" value="Aleksander" />
                <property name="lastName" value="Kowalski" />
            </bean>
        </property>
    </bean>

    <bean id="myBook3" class="pl.sda.Book">
        <constructor-arg value="Moja książka"/>
    </bean>

    <bean id="myBook4" class="pl.sda.Book">
        <constructor-arg value="Moja książka"/>
        <constructor-arg value="33" />
    </bean>

    <util:list id="myList" value-type="java.lang.String">
        <value>foo</value>
        <value>bar</value>
    </util:list>

    <util:map id="myMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="myKey1" value="myValue1"></entry>
    </util:map>

    <bean id="myPerson" class="pl.sda.Person" >
        <property name="firstName" value="Aleksander"/>
        <property name="lastName" value="Nowak" />
    </bean>

    <bean id="myStudent" class="pl.sda.Student">
        <property name="firstName" value="#{myPerson.firstName}" />
        <property name="lastName" value="#{myPerson.lastName}" />
        <property name="collageName" value="Harvard" />
    </bean>

    <context:annotation-config />
</beans>